# Ignore any compiled C or C++ files
*.o
*.exe

# Ignore the user level configuration file
*_configuration.xml

# Ignore any log files
*.log
*.data

# Ignore MS Visual Studio Code configurations
.vscode/